{% extends 'common/layout.twig' %}
{% set active = 'manufacturer' %}
{% block title %}Staff info{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Staff</h2>
            <p>Сотрудники. Ответственные за терминал или группу терминалов:</p>
            <a href="/staff/form" class="btn btn-info" role="button">Create Staff</a>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>branchId</th>
                    <th>Name</th>
                    <th>createAt</th>
                </tr>
                </thead>
                <tbody>
                {% for item in result %}
                <tr>
                    <td><a href="/staff/{{ item.staffId }}">{{ item.staffId }}</a></td>
                    <td>{{ branchList[item.branchId] }}</td>
                    <td>{{ item.firstName }} {{ item.lastName }}</td>
                    <td>{{ item.createAt }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
